vless://3b6eba8e-fda0-434a-df14-0db3d426e594@varzeshi.jorgegames.ir:40391?type=ws&security=tls&path=%2F&sni=varzeshi.jorgegames.ir#family
vless://0fa1b8a1-c61b-4453-82bb-71d07cb76375@tabriiz.emma-jewellery.ir:46652?type=ws&security=tls&path=%2Ffamily&sni=tabriiz.emma-jewellery.ir#ghadimi
trojan://vNNF1vl04y@tabriiz.emma-jewellery.ir:54498#torjanbiz